<p id="notice"><%= notice %></p>

<%= form_for @product do |f| %>
  <%= f.hidden_field :status, value: :published %>
  <%= f.submit 'Publish' %>
<% end %>

<p class='product_title'>
  <%= @product.status.capitalize %> - <%= @product.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
